[submodule "py_submodules/skdata"]
	path = py_submodules/skdata
	url = https://github.com/jaberg/skdata
[submodule "py_submodules/DeepLearningTutorials"]
	path = py_submodules/DeepLearningTutorials
	url = git@github.com:lisa-lab/DeepLearningTutorials.git
[submodule "py_submodules/pyautodiff"]
	path = py_submodules/pyautodiff
	url = git@github.com:jaberg/pyautodiff.git
[submodule "py_submodules/autodiff"]
	path = py_submodules/autodiff
	url = git@github.com:jaberg/pyautodiff.git
[submodule "py_submodules/Theano"]
	path = py_submodules/Theano
	url = git://github.com/Theano/Theano.git
